.editar-usuario__ {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.editar-usuario__section {
    min-width: 50%;
    background-color: #0066ff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.editar-usuario__div--titulo {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.671);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.editar-usuario__form {
    width: 100%;
    padding: 20px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editar-usuario__form--div {
    width: 100%;
    display: flex;
    gap: 20px;
}

.editar-usuario__form--div img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.editar-usuario__form--dados-pessoais {
    flex-grow: 2;
}